* {
  font-family: Arial, Helvetica, sans-serif;
  color: #e5e7eb;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #020617;
}
header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #22d3ee;
}
nav ul {
  list-style: none;
  margin: 15px 0;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  background-color: #2b2b31;
  padding: 20px;
  border-radius: 20px;
}

nav ul li:hover {
  background-color: #1819218b;
  border: 3px solid rgb(29, 29, 29);
}

form {
    margin: 50px 15px;
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  place-items: center;
}

.equal{
    width: 25px;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 150px;
    border: 3px solid #2b2b31;
    border-radius: 15px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    /*Remove slider form number unit*/
    border: none;
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 10px;
    font-size: 20px;
  -moz-appearance: textfield;
}

select{
    font-size: 20px;
    text-align: center;
    background-color: #2b2b31;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

input:focus,
select:focus{
    outline: none;
}

.time input{
  color: black;
}
